{% extends 'security/index.html.twig' %}

{% block content %}
    <div class="flex flex-col gap-2 text-center">
        <h1>Mot de passe oublié ?</h1>
        {{ form(form)}}
    </div>
{% endblock %}

