{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('security') }}
{% endblock %}

{% block body %}
    <div class="middle gap-2">
        {% block flash_messages %}{% endblock %}
        <div class="container gap-4{% if block('information') is not defined %} container--small{% endif %}">
            <div class="container__content{% if block('information') is not defined %} container__content--small{% endif %}">
                {% block content %}{% endblock %}
            </div>
            {% if block('information') is defined %}
                <div class="container__information">
                    {{ block('information') }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}