{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('security') }}
{% endblock %}

{% block body %}
    <div class="middle gap-2">
        {% block flash_messages %}{% endblock %}
        <div class="container">
            <div class="container__content">
                {% block content %}{% endblock %}
            </div>
            <div class="container__information">
                {% block information %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}