{% extends 'security/index.html.twig' %}

{% block content %}
    <div>
        {{ form(form) }}
    </div>
{% endblock %}

{% block information %}
    <p class="text-center">Vous n'avez pas encore de compte ? <br>Créez en un <a class="underline" href="{{ url('register') }}">ici</a></p>
{% endblock %}