{% extends 'base.html.twig' %}

{% block body%}
    <div class="flex w-md">
        {{ form(form, { 'attr': { 'class': 'w-full' }}) }}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}