@import 'tailwindcss';

/** Ne pas supprimer sinon boucle infini a la compilation des assets */
@source not "../../public/*";

@theme {
    --color-white: oklch(100% 0 0);
    --color-red: oklch(57% 0.209 22.65);
    --color-green: oklch(47.62% 0.0794 205.4);
    --color-gold: oklch(79.2% 0.16 72.34);
}

.home-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 150px;
    width: 100%;
    height: 100%; /* Ajuste la hauteur selon ton besoin */
    background-size: cover; /* Remplit le conteneur sans distorsion */
    background-position: center; /* Centre l’image */
    background-repeat: no-repeat; /* Empêche la répétition */
    background-image: url('../images/home.jpeg');

    @media (width < 55rem) and (width >= 48rem) {
        padding-top: 50px;
    }
}

.site__name {
    font-family: "Mountains of Christmas", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 100px;
    color: oklch(57% 0.209 22.65);

    @media (width < 55rem) {
        font-weight: 400;
        font-size: 64px;
    }
}

.site__description {
    font-family: "Mountains of Christmas", serif;
    font-size: 30px;

    @media (width < 55rem) {
        font-weight: 400;
        font-size: 24px;
    }
}

.middle {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (width < 64rem) {
        height: calc(100vh - 75px);
        justify-content: initial;
    }

    @media (width < 48rem) {
        height: calc(100vh - 50px);
    }
}

.card__title {
    font-size: 22px;
}