.split-container {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;

  .test {
    width: 500px;
    height: 250px;
  }
}

.split-image {
  background-size: cover; /* Remplit le conteneur sans distorsion */
  background-position: center; /* Centre l’image */
  background-repeat: no-repeat; /* Empêche la répétition */
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100%;
  z-index: -1;
  clip-path: polygon(0 0, 55% 0, 45% 100%, 0% 100%);
}