.profile {
  &__menu {
    display: none;
    position: absolute;
    min-width: 100px;
    background-color: red;
    bottom: -55px;
    padding: 12px;
    border-radius: 4px;

    &--show {
      display: block;
    }

    &::before {
      content: "";
      position: absolute;
      top: -15px;
      left: 90%;
      transform: translateX(-50%);
      border-width: 10px;
      border-style: solid;
      border-color: transparent transparent red transparent;
    }
  }
}

.secret-card {
  display: inline-block;
  min-width: 200px;
  padding: 16px;
  border-radius: 4px;
  background-color: burlywood;
}