<div class="middle">
    <div class="card">
        <h1>Mot de passe perdu ?</h1>
        <p>Un lien permettant de changer votre mot de passe vient de vous être envoyé.</p>
        <a href="{{ santa_url(path('app_members_change_password', { token: token.token })) }}" class="button">lien</a>
    </div>
</div>



{% apply inline_css %}
    <style>
        .middle {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100vw;
            height: 100vh;
        }

        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 800px;
            min-height: 250px;
            padding: 16px;
            border-radius: 4px;
            background-color: oklch(0.969 0.015 12.422);
        }

        p {
            font-size: 18px;
        }

        i {
            font-size: 12px;
        }

        .button {
            padding: 16px;
            border-radius: 4px;
            background: oklch(64.8% 0.2 131.684);
            color: white;
            text-decoration: none;
            text-align: center;
            text-transform: uppercase;
            width: 150px;
        }
    </style>
{% endapply %}