<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap" rel="stylesheet">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('menu') }}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {{ render_esi(url('esi_menu')) }}
        {% block body %}{% endblock %}
        {% block modal %}{% endblock %}
    </body>
</html>
