<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('menu') }}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {{ render_esi(url('esi_menu')) }}
        {% block body %}{% endblock %}
    </body>
</html>
